---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/hero/Hero";
---

<Layout title="Aahad | Portfolio">
  <main>
    <Hero client:load />

    <section id="about" class="flex min-h-screen items-center justify-center">
      <h2 class="text-4xl font-bold">About Section</h2>
    </section>

    <section id="skills" class="flex min-h-screen items-center justify-center">
      <h2 class="text-4xl font-bold">Skills Section</h2>
    </section>

    <section id="projects" class="flex min-h-screen items-center justify-center">
      <h2 class="text-4xl font-bold">Projects Section</h2>
    </section>

    <section id="experience" class="flex min-h-screen items-center justify-center">
      <h2 class="text-4xl font-bold">Experience Section</h2>
    </section>

    <section id="contact" class="flex min-h-screen items-center justify-center">
      <h2 class="text-4xl font-bold">Contact Section</h2>
    </section>
  </main>
</Layout>
