---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/hero/Hero";
import { AboutSwitcher } from "../components/about/AboutSwitcher";
import { ProjectsV1 } from "../components/projects/ProjectsV1";
import { Workflow } from "../components/workflow/Workflow";
import { Experience } from "../components/experience/Experience";
import { Contact } from "../components/contact/Contact";
---

<Layout title="Aahad | Portfolio">
  <main>
    <Hero client:load />

    <AboutSwitcher client:load />

    <Workflow client:load />

    <ProjectsV1 client:load />

    <Experience client:load />

    <Contact client:load />
  </main>
</Layout>
