---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/hero/Hero";
import { About } from "../components/about/About";
import { ProjectsV1 } from "../components/projects/ProjectsV1";
import { Experience } from "../components/experience/Experience";
import { Contact } from "../components/contact/Contact";
---

<Layout title="Aahad | Portfolio">
  <main>
    <Hero client:load />

    <About client:visible />

    <ProjectsV1 client:visible />

    <Experience client:idle />

    <Contact client:idle />
  </main>
</Layout>
