---
import Layout from "../layouts/Layout.astro";
import { Hero } from "../components/hero/Hero";
import { AboutSwitcher } from "../components/about/AboutSwitcher";
import { ProjectsV1 } from "../components/projects/ProjectsV1";
import { Workflow } from "../components/workflow/Workflow";
---

<Layout title="Aahad | Portfolio">
  <main>
    <Hero client:load />

    <AboutSwitcher client:load />

    <Workflow client:load />

    <ProjectsV1 client:load />

    <section id="experience" class="flex min-h-screen items-center justify-center bg-background">
      <h2 class="text-4xl font-bold">Experience Section</h2>
    </section>

    <section id="contact" class="flex min-h-screen items-center justify-center bg-background">
      <h2 class="text-4xl font-bold">Contact Section</h2>
    </section>
  </main>
</Layout>
